
nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:90px;
    background-color:rgb(40, 2, 75);

}

nav ul{
    display:flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin:0 23px;
}

.left{
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
}

.firstsection{
    display:flex;
    justify-content: space-around;
    margin:23px 0;
    align-items: center;
}

.leftsection{
    width:40px;
    font-size: 3rem;
    margin:80px 0;
}

.rightsection{
    background-color: rgb(40, 2, 75);
    display: flex;
    width: 50px;
    height:500px;
    border-radius:50% ;
}
.firstsection> div{
    width:30%;
}

.Purple{
    color:blueviolet;
}

nav ul a{
    text-decoration: none;
    color:white;
}

nav ul  a:hover{
   color: rgb(117, 62, 117);
}

h3{
    max-width:80vw;
    margin:auto;
}

.para{
    margin-left: 20px;
    margin-right: 20px;
}

.listgroup{
    color:white;
}

*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    width:100%;
    background: linear-gradient(45deg,rgb(0,0,33),rgb(1,1,38),rgb(92, 19, 114),rgb(99, 15, 155));
    background-size: 800% 800%;
    animation: color 8s ease-in-out infinite;
}

@keyframes color {
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}


  
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 400px;
    gap: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    transition: 1s;
  }
  
  .each {
    background: rgb(108, 46, 167);
    box-shadow: inset 0 0 5px rgba(55, 84, 170, 0),
      inset 0 0 10px rgba(255, 255, 255, 0), 5px 5px 9px rgba(55, 84, 170, 0.15),
      -5px -5px 11px white, inset 0px 0px 2px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    height: 190px;
    width: 190px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid #eaeef5;
  }
  
  .skills:hover .each {
    box-shadow: inset 4px 4px 7px rgba(55, 84, 170, 0.15),
      inset -4px -4px 10px white, 0px 0px 2px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s ease-in-out;
  }
  
  .each .box {
    padding: 16px;
  }
  
  .css .box {
    text-align: right;
  }
  
  .js .box {
    margin-top: 40px;
  }
  
  .ng .box {
    margin-top: 40px;
    text-align: right;
  }
  
  .each .box .content h2 {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 6px;
  }
  
  .each .box .content p {
    font-size: 12px;
    margin: 0;
  }
  
  .html .box .content i {
    margin-top: 40px;
  }
  
  .css .box .content i {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 40px;
  }
  
  .js .box .content i {
    margin-bottom: 20px;
  }
  
  .ng .box .content i {
    margin-bottom: 20px;
  }
  
  .each .box .content i {
    font-size: 30px;
  }
  
  .center {
    position: absolute;
    height: 160px;
    width: 160px;
    background: #f1f3f6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-radius: 108px;
    box-shadow: inset 0 0 5px rgba(55, 84, 170, 0),
      inset 0 0 10px rgba(255, 255, 255, 0), 5px 5px 9px rgba(55, 84, 170, 0.15),
      -5px -5px 11px white, inset 0px 0px 2px rgba(255, 255, 255, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    border: 10px solid #e8edf5;
  }
  
  .center .box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .c1{
    margin-left: 50px;
  }

  .c2{
    margin-left: 100px;
  }